---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>ArcGIS Setup</h2><ul>
    <li>User Account Creation:</li>
    <ul>
      <li>Organizational Accounts</li>
      <li>Admins/Contact Info</li>
    </ul>
    <li>Custom User Roles/Privileges</li>
    <li>Organization Theme</li>
    <li>Connection to ArcGIS Pro</li>
    <li>Add Registered Data Stores:</li>
    <ul>
      <li>Prevents need to copy data</li>
      <li>Connect enterprise GDBs</li>
    </ul>
    <li>Ongoing maintenance</li>
  </ul>
</Layout>
