---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import cb1 from "../images/cloud_builder_1.png";
---

<Layout>
  <h2>Deployment</h2>
  <div style="display: inline-block;">
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder.png"
      alt="sign in screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_00.png"
      alt="deployments screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_0.png"
      alt="deployment type screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_1.png"
      alt="define deployment screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_2.png"
      alt="general configuration screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_3.png"
      alt="eip screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_4.png"
      alt="credentials screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_5.png"
      alt="arcgis enterprise config screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_6.png"
      alt="deployment summary screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_7.png"
      alt="success screen"
      width="444"
      height="388"
      style={"margin: 10px;"}
    />
  </div>
</Layout>;
