---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import cb1 from "../images/cloud_builder_1.png";
---

<Layout>
  <h2>Deployment</h2>
  <div style="display: inline-block;">
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder_1.png"
      alt="sign in screen"
      width="400"
      height="350"
      style={"margin: 10px;"}
    />
    <Image
      src="/DrtIdeaLabDoc/images/cloud_builder.png"
      alt="completion screen"
      width="400"
      height="350"
      style={"margin: 10px;"}
    />
  </div>
</Layout>;
