---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>Prerequisites</h2>
  <p>
    You need the following before you can create an ArcGIS Enterprise deployment
    using ArcGIS Enterprise Cloud Builder for Amazon Web Services:
  </p>
  <ul>
    <li>
      Obtain an Amazon Web Services (AWS) account. Ensure you have the AWS
      account credentials, such as an Access Key ID and Secret Access Key, and
      that they have access to required AWS services.
    </li><li>
      ArcGIS Enterprise Cloud Builder for Amazon Web Services uses a Microsoft
      Windows Server and Ubuntu Server machine images by default. You may need
      to accept terms in the AWS Marketplace to use these images if you have not
      used them before.
    </li><li>
      Download and extract ArcGIS Enterprise Cloud Builder for Amazon Web
      Services.
    </li><li>
      Obtain a Portal for ArcGIS license file and an ArcGIS GIS Server license
      file for the portal's hosting server.
    </li><li>
      Obtain ArcGIS Server license files for the federated server roles you
      require.
    </li><li>
      Purchase SSL certificates from a certifying authority, and configure them
      for the domains you will use in your ArcGIS Enterprise on Amazon Web
      Services deployment.
    </li>
  </ul>
</Layout>
