---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>
    <a href="https://gis.drtstrategies.com/portal/home/" target="_blank"
      >ArcGIS Demo</a
    >
  </h2>
  <h3>
    <a href="/gather-prerequisite">Gather Prerequisite</a>
  </h3>
  <h3>
    <a href="/inital-setup">Inital Setup</a>
  </h3>
  <h3>
    <a href="/deployment">Deployment</a>
  </h3>
  <h3>
    <a href="arcgis-setup">ArcGIS Setup</a>
  </h3>
</Layout>

<style>
  a {
    color: var(--light);
  }
</style>
