---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>
    <a href="https://gis.drtstrategies.com/portal/home/" target="_blank"
      >ArcGIS Demo</a
    >
  </h2>
  <h3>
    <a href="/DrtIdeaLabDoc/gather-prerequisite">Gather Prerequisite</a>
  </h3>
  <h3>
    <a href="/DrtIdeaLabDoc/inital-setup">Inital Setup</a>
  </h3>
  <h3>
    <a href="/DrtIdeaLabDoc/deployment">Deployment</a>
  </h3>
  <h3>
    <a href="/DrtIdeaLabDoc/arcgis-setup">ArcGIS Setup</a>
  </h3>
</Layout>

<style>
  a {
    color: var(--light);
  }
</style>
