---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>DRT Idea Lab</title>
    <link rel="icon" href="/images/favicon.png" sizes="32x32" />
    <ViewTransitions />
  </head>
  <body>
    <header class="container">
      <a href="https://www.drtstrategies.com/"
        ><img src="/images/logo.svg" alt="DRT Strategies Logo" /></a
      >
      <img src="/images/idealab-icon-2.svg" alt="DRT Idea Lab Logo" />
    </header>
    <main class="container">
      <h1>ArcGIS AWS Best Practicies</h1>
      <slot />
      <div class="grow"></div>
    </main>
    <footer class="container">
      <p>© 2023 DRT Strategies, Inc. All rights reserved.</p>
    </footer>
  </body><style>
    body {
    }

    header {
      background-color: var(--light);
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
    }

    header > img {
      width: 120px;
    }

    main {
      color: var(--light);
      background-color: var(--blue);
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      height: calc(100vh - 160px);
      flex-direction: column;
    }

    .grow {
      flex-grow: 1;
    }

    footer {
      color: var(--gray);
      background-color: var(--ligth);
      font-size: 0.8rem;
    }
  </style>
</html>
